<form action="#" method="POST" autocomplete="off">
    <label class="headerText">Register</label>
    <label> Username
        <input type="text" name="userName" placeholder="Username here">
    </label>

    <label> Email
        <input type="email" name="userMail" placeholder="Email here">
    </label>

    <label> Password
        <input type="password" name="userPass" placeholder="Password here">
    </label>

    <label> Retype Password
        <input type="password" name="userPass2" placeholder="Password here again">
    </label>

    <input type="submit" value="Sign Up">
</form>